
rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /USUARIOS/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /RECURSOS/{allPaths=**} {
      allow read: if true;
      allow write: if false; // Solo lectura pública para recursos corporativos
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
